@charset "UTF-8";

.title {
	display:flex;
	justify-content:space-between;
	align-items:center;
	height: 70px;
	width: 100%;
	background: #4c657e;
	padding: 0px 15px;
	min-width: 1024px;
}

.title > a {
	font-size: 30px;
	color: #fff;
	margin-left: 10px;
	font-weight: 600;
}

.fa-light.fa-shield-dog {
	margin-right: 10px;
}

.title form select {
	width: 170px;
	height: 35px;
	border: none;
	font-size: 16px;
}

.title form select:nth-of-type(1) {
	margin-right: 7px;
	margin-left: 10px;
}

.title form button {
	width: 80px;
	height: 35px;
	border: none;
	background: #f6f6f6;
	margin-left: 7px;
}

.title .input_date{
	height: 35px;
	border: none;
	padding-left: 7px;
}

.title_text {
	width: 1024px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #666;
}



/* 디테일 */
.detail_main {
	width: 1024px;
	margin: 0 auto;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.detail_main .detail_info{
	width: 60%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-right: 50px;
}

.detail_main .detail_img{
	border-radius: 10px;
	background: #f6f6f6;
	overflow: hidden;
	width: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
}

.detail_comment{
	width: 40%;
}

.detail_main .detail_box{
	width: 100%;
}

.detail_main .detail_img img{
	width: 50%;
}

.detail_main .detail_box ul{
	width: 100%;
}

.detail_main .detail_box li{
	font-size: 18px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	padding: 20px 15px;
	margin-bottom: 2%;
}

.detail_main .detail_box li span{
	height: 100%;
	margin-right: 5px;
}

.detail_comment{
	border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

.detail_comment h2{
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #8e8e8e;
}

.detail_comment h2 i{
	margin-right: 5px;
}

.detail_comment form{
	margin-bottom: 20px;
}

.detail_comment form textarea{
	width: 100%;
	resize: none;
	margin-bottom: 2%;
	 border: 1px solid #8e8e8e;
}

.detail_comment form div{
	display: flex;
	justify-content: space-between;
}

.detail_comment form div input{
	width: 68%;
	height: 35px;
	padding-left: 10px;
	 border: 1px solid #8e8e8e;
}

.detail_comment form div button{
	width: 30%;
	height: 35px;
	border: none;
	background: #4c657e;
	color: #fff;
}

.detail_comment .comment_text{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.detail_comment .comment_text h4{
	font-weight: 400;
}

.detail_comment .comment_text i{
	font-size: 18px;
	color: #8e8e8e;
	transition: 0.3s all;
}

.detail_comment .comment_text i:hover{
	color: #000;
}

/* 메인 show */
.show_main {
	width: 1024px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.show_box {
	border: 1px solid #ccc;
	width: 49%;
	margin: 0.5%;
	border-radius:5px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*  border-right: 6px solid #4c657e; */
	transition: 0.2s all;
}

.show_box:hover {
	box-shadow: 0px 1px 7px rgba(0,0,0,0.5);
}

.show_box .show_img {
	min-width: 150px;
	height: 140px;
	display: flex;
	justify-content:center;
	align-items: center;
	overflow: hidden;
	background: #f6f6f6;
}

.show_box .show_img img{
	width: 100%;
}

.show_box ul{	
	width: 100%;
	margin-left: 25px;
	text-align: left;
}

.show_box ul li{
	font-size: 15px;
	font-weight: 300;
}

.fa-mars {
	color: blue;
	font-size: 20px;
	margin-left: 4px;

}

.fa-venus {
	color: red;
	font-size: 20px;
	margin-left: 4px;

}

.show_box ul li:nth-of-type(1) span {
	background: #4c657e;
	color: #fff;
	padding: 5px 12px;
	display: inline-block;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 200;
}

.show_box ul li:nth-of-type(1){
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.page .page_prev a {
	margin-right: 5px;
	width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
    border-radius: 50%;
    background: #cdc9c3;
    color: #000;
    text-align: center;
}

.page .page_next a {
	margin-left: 5px;
	width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
    border-radius: 50%;
    background: #cdc9c3;
    color: #fff;
    text-align: center;
	
}

.page a{
	font-size: 15px;
	margin:0px 3px;
}

.del_btn{
	position: relative;
}

.del_btn input[type='checkbox']{
	width: 12px;
	height: 12px;
	position: absolute;
	opacity: 0;
}

.del_btn input:checked ~ .del_menu{
	transform: translatey(30px); opacity: 1;
}

.del_menu{
	opacity: 0;
	position: absolute;
	left: -250px;
}

.del_menu li {
	display: flex;
	align-items: center;
}

.del_menu li input {
	border: 1px solid #8e8e8e;	
}

.del_menu li a {
	font-size: 16px;
	width: 60px;
	line-height: 35px;
	text-align: center;
	background: #cdc9c3;
	margin-left: 5px;
}

.del_menu li input, .del_menu li a {
	height: 35px;
}
